---
layout: layout.njk
mainClass: "post"
heroImage: ""
twitterCard: "summary_large_image"
---

{% if heroImage != "" %}
  <img src={{heroImage}} class="post-hero-image" alt="{{heroImageAlt}}"/>
{% endif %}
<h1>{{ title }}</h1>
<time>{{ date | date('PPP') }}</time>

<article>{{ content | safe }}</article>