---
layout: "layout.njk"
title: Posts - Brad Harris
---

<h1>Posts</h1>

<article>
  {% set posts =search.pages("post new", "date=desc") %}

  {% if posts.length ==0 %}
    <p>
      Not much new going on here atm.
    </p>
  {% endif %}

  {{ comp.postlist({ posts: search.pages("post new", "date=desc") }) | safe }}

  <hr class="glow" />

  <p>
    Check out some of my posts on <a href="https://medium.com/@selfc0ntained">Medium</a> from when I worked on <a href="https://www.producthunt.com/posts/beep-boop">BeepBoop</a> and <a href="https://www.producthunt.com/posts/missions">Missions</a>.
  </p>

  <p>
    I've also got a collection of <a href="{{ '~/old-school/index.njk' | url }}">old school posts</a> from the beginning of my career.
  </p>
</article>
