<ul class="posts-list">
  {% for post in posts %}
    <li>
      {% if post.data.thumbnailImage %}
        <img src="{{post.data.thumbnailImage}}" class="post-thumbnail glow" alt="{{post.data.thumbnailImageAlt}}"/>
      {% endif %}
      <section>
        <h3>
          <a href="{{ post.data.url }}">{{ post.data.title }}</a>
        </h3>
        <p>
          <time>{{ post.data.date | date('PPP') }}</time>
        </p>
        {% if post.data.excerpt != "" %}
          <p class="post-excerpt">{{ post.data.excerpt }}</p>
        {% endif %}
      </section>
    </li>
  {% endfor %}
  </ul>